:root
{
    --font-family-1:'Open Sans', sans-serif;
    --font-family-2: 'Poppins', sans-serif;;
}

body{
    background-image: url("asset/images/bg-desktop.svg");
    background-color: rgb(104, 5, 196);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 18px;
}
.logo-img
{
    transform: scale(.5);
    margin: 0 0 0 30px;
}
.hero-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
}
.desktop-img
{
    width: 55%;
    transform: scale(.8);
}
.content
{
    width: 34%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 40px 0;
}
.heading{
    font-family: var(--font-family-2);
    line-height: 1.5;
    font-size: 1.7em;
    color: rgb(236, 234, 234);
    font-weight: 800;
    margin-top:50px ;
}
.definition{
    font-family: var(--font-family-1);
    line-height: 1.5;
    font-size: .8em;
    font-weight: 400;
    color: rgb(236, 234, 234);
}
.btn{
    width: 150px;
    padding:14px 40px;
    border-radius: 80px;
    border: none;
    color: rgb(104, 5, 196);
}
.social-icon{
    display: flex;
    flex-direction: row;
    margin: auto 0 0 auto;
}
.social-icon a{

    padding: 5px 10px;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid;
    margin: 0 10px;
    color: white;
}
footer{ 
    font-family: var(--font-family-1);
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}
footer h6
{
    font-weight: 500;
    font-size: .8em;
    margin:  10px;
}
footer h6 a{
    font-weight: 700;
    color: white;
}

@media (max-width:800px)
{
    body{
        background-image: url("./asset/images/bg-mobile.svg");
    }
    .logo-img
    {
        transform: scale(.5);
        margin: 0 0 0 0;
    }
    .hero-container
    {
        flex-flow: column wrap;
    }
    .desktop-img
    {
        width: 100%;
        transform: scale(.8);
    }
    .content
    {
        width: 100%;
        flex-flow: column;
        align-items: center;
        padding:  0;
        text-align: center;
    }
    .heading
    {
        margin:0;
    }
    .definition{
        font-family: var(--font-family-1);
        width: 70%;
    }

    .social-icon
    {
        margin: 50px 0;
    }
    footer{  
        flex-flow: column wrap;
        align-items: center;
    }
    footer h6
    {
        font-weight: 400;
        font-size: .8em;
        margin: 10px;
    }
    footer h6 a{
        font-weight: 700;
    }
}


